.contacts-section {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    background-color: $gray;
    color: $black;
    text-align: center;
    padding: 5rem 3rem 3.5rem 3rem;
    border-radius: 0 0 5px 5px;
    margin-bottom: 3rem;

    @include media(">=tablet") {
        font-size: 1rem;
        padding: 3rem 3.5rem;
    }

    @include media(">=desktop") {
        padding: 4.25rem 5.75rem;
    }

    &__title {
        @include media(">=tablet") {
            margin-bottom: 1rem;
        }
    }

    &__socials div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        margin-top: 0.4rem;
        margin-bottom: 1rem;

        @include media(">=tablet") {
            margin-bottom: 0.5rem;
        }

        @include media(">=tablet") {
            margin-top: 0.2rem;
            margin-bottom: 1rem;
        }
    }

    &__par--1,
    &__par--2,
    &__socials div {
        @include media(">=tablet") {
            max-width: 230px;
            margin-right: auto;
            margin-left: auto;
        }

        @include media(">=desktop") {
            max-width: 250px;
        }
    }

    &__single-social {
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        width: 45px;
        height: 45px;

        transition: all 0.3s ease-in-out;

        &:last-child {
            padding: 5px;
        }

        &:hover {
            transform: scale(1.1);
        }

        img {
            max-width: 100%;
        }
    }

    &__form {
        padding: 0;

        input[type="text"],
        input[type="email"] {
            height: 40px;
        }

        textarea {
            padding-top: 10px;
            min-height: 13rem;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            border-radius: 3px;
            background-color: $white;
            color: $input;
            padding-left: 10px;
            border: 0;
            outline: 0;
            box-shadow: none;
            margin-top: 1rem;
        }

        .btn-submit {
            height: 40px;
            width: 96px;
            float: left;
            margin-top: 0.5rem;
            background-color: $blue;

            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 0.875rem;
            color: $white;

            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: $blue-hover;
            }
        }
    }
}
